<% if model.errors.any? %>
  <div class="alert alert-warning">
    <% model.errors.full_messages.each do |message| %>
      <ul>
        <li><%= message %></li>
      </ul>
    <% end %>
  </div>
<% end %>